/* Importando los google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,400;1,900&display=swap');

body{
    background-color: #282a2b;
}

.titulo{
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

.subtitulo{
    margin: 10px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
}

.groupcont{
    margin: 20px 20px 20px 10px;
}

.titulo-r{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.subtitulo-r{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 1rem;
}

.cardstyle{
    margin: 127px 20px 20px 20px;
    padding: 20px;
}

.buttondir{
    float: right;
}

.textolista{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.iconosmar{
    margin-bottom: 2px;
    margin-left: 7px;
}

.iconostitmar{
    margin-bottom: 7px;
    margin-left: 2px;
}

.divsize{
    height: 20px;
}

.plusbuttoncont{
    margin-right: 0 !important;
}

.loadingh1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 15%;
    margin-bottom: 40px;
    color: white;
    text-align: center;
}

.loadingspinner{
    height: 10rem;
    width: 10rem;
}

/* Media Query*/

/* Si el Viewport es de 991px o menor... haga*/
@media (max-width: 991px) {
    .groupcont{
        margin: 20px;
    }
    .cardstyle{
        margin: 20px;
    }
    .centradoNavLink{
        margin-left: auto;
        margin-right: auto;
    }
}

/* Si el Viewport es de 572px o menor... haga*/
@media (max-width: 572px){
    .textolista{
        font-size: 2.5vw;
    }
}

/* Si el Viewport es de 523px o menor... haga*/
@media (max-width: 523px){
    .divsize{
        height: 0;
    }
}

/* Si el Viewport está entre 1200px o 992px... haga*/
@media (max-width: 1200px) and (min-width: 992px){
    .divsize{
        height: 0;
    }
    .cardstyle{
        margin: 145px 20px 20px 20px;
    }
}

/* Conf. Navbar Style */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

.navbar-custom .navbar-nav .nav-link {
    color: #969292;
}

.navbar-brand{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.icononavbar{
    margin-bottom: 6px;
    margin-right: 7px;
}

.iconovolver{
    margin-bottom: 5px;
}

.iconoconf{
    margin-bottom: 3px;
}

.navbarbrand:hover{
    color: white !important;
}

.nav-link:hover{
    color: white !important;
    
}

.navbar-toggle{
    color: white;
}

/* Fin Conf. Navbar Style */

/* Control Styles */
.imagenprincipal{
    border-radius: 8px;
    width: 1110px;
    height: 828.6311px;
}

.contenedor{
    position: relative;
}

.btn-nodo-vertical{
    display: inline-block;
    position: absolute;
    text-align: center;
    font-size: 0.7rem;
    padding: 0;
    height: 72px;
    width: 21px;
    font-weight: 700;
    border: 2px solid black;
}

.btn-nodo-horizontal{
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 0.7rem;
    padding: 0;
    height: 21px;
    width: 72px;
    font-weight: 700;
    border: 2px solid black;
}

.Nodo611 {
    left: 224px;
    top: 640px;
}

.Nodo652{
    left: 140px;
    top: 498px;
}

.Nodo684{
    left: 333px;
    top: 517px;
}

.Nodo645{
    left: 273px;
    top: 163px;
}

.Nodo646{
    left: 60px;
    top: 163px;
}

.Nodo632{
    left: 488px;
    top: 40px;
}

.Nodo633{
    left: 794px;
    top: 161px;
}

.Nodo634{
    left: 980px;
    top: 161px;
}

.Nodo675{
    left: 970px;
    top: 519px;
}

.Nodo692{
    left: 741px;
    top: 518px;
}

.Nodo671{
    left: 540px;
    bottom: 471px;
}

.Nodo680{
    left: 470px;
    bottom: 114px;
}